body {
	background-color: #F1F1F1;
	margin: 0 2.5%;
	font-family: Verdana,Helvetica Neue,Helvetica,sans-serif;
}

header {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#typing-area textarea {
	margin: 5px 0;
	padding: 5px;
	width: 100%;
	height: 200px;
	background: #fff;
	border: 1px solid #f9f9f9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	resize: none;
}

.keyboard-row a {
	float: left;
}

.keyboard-row {
	display: inline;
}

/* Key Formatting */

#keyboard {
	display: inline-block;
	width: 700px;
}

#keyboard a {
	display: inline-block;
	background-color: #FCFCFC;
	overflow: hidden;
	line-height: 35px;
	color: grey;
	border-radius: 4px;
	vertical-align: centre;
	float: left;
    margin: 0 5px 5px 0;
	height: 42px;
	width: 38px;
	text-align: center;
}

a#key-backspace {
	width: 95px;
}

a#key-tab {
	width: 57px;
}

a#key-caps {
	width: 67px;
}

#main-block .keyboard-row:last-of-type a, a#key-left-shift, a#key-right-shift {
	width: 48px;
}

#main-block .keyboard-row:last-of-type a#key-space {
	width: 228px;
}

a#key-backquote, a#key-tab, a#key-caps, a#key-left-shift, a#key-left-control {
	clear: left;
}

#keyboard a:link, #keyboard a:visited, #keyboard a:hover, #keyboard a:active {
    text-decoration: none;
}

#keyboard a:hover {
	cursor: pointer;
	color: grey;
	background-color: #e5e5e5;
}

#keyboard a:active, #keyboard a.pressed {
	color: white;
	background-color: #cccccc;
}
